$dark-color: #171717;
$light-color: #FFFFFF;
$gold-color: #FFD700;


*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

//--ELEMENTS
.underline {
    margin: 5px auto;
    width: 60px;
    height: 1px;
    background-color: $gold-color;
}

.wrapper {
    max-width: 2560px;
    width: 80%;
    margin: 0 auto;

    &__title {
        padding: 70px 0;
        text-align: center;
        font-size: 28px;
    }
}

//-------We create the 'before' element of the section and raise it by the height of the menu.
.scroll-fix::before {
    display: block;
    margin-top: -82px;
    height: 82px;
    content: '';
}

//--NAVIGATION
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid $dark-color;
    z-index: 1;

    &__logo-link {
        padding: 10px 20px;
    }

    &__logo {
        height: 58px;
        width: 150px;
    }

    .navigation-menu {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__phone {
            padding: 10px;
    
            .fas {
                font-size: 30px;
                color: $dark-color;
            }
        }

        &__number {
            display: none;
        }
    }

    .menu-hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;

        &__sr-only {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    }
    .hamburger-box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
        // background-color: pink;

        @mixin hamburger-line {
            width: 100%;
            height: 3.5px;
            background-color: $dark-color;
            position: absolute;
        }

        &__inner {
            @include hamburger-line;

            left: 0;
            top: 50%;
            // transform: translateX(50%);
            transition: background-color .1s .2s ease-in-out;

            &::before,
                    &::after {
                width: 100%;
                height: 3px;
                background-color: $dark-color;
                position: absolute;

                content: '';
                left: 0;
                transition: transform .2s .2s ease-in-out;
            }

            &::before {
                top: -10px;
            }

            &::after {
                top: 10px;
            }
        }
    }


    .hamburger--active .hamburger-box__inner {
        background-color: transparent;
    }
    .hamburger--active .hamburger-box__inner::before {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger--active .hamburger-box__inner::after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menu-hamburger, .navigation-box {
        transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    }

    .navigation-box {
        display: none;
        height: 100vh;  // pomyśleć nad wielkością dla deskopt
        width: 100vw;
        background-color: $light-color;
        position: absolute;
        top: 82.8px;
        right: 0;
        text-align: center;
        // transform: translateX(-250px);
    }

    .navigation-list {
            margin-top: 50px;
            list-style: none;
            font-size: 22px;

        &__item {
                margin-bottom: 30px;

            a {
                        text-decoration: none;
                        color: $dark-color;
            }

            &:hover {
                        font-weight: bold;
            }
        }
    }

    .navigation--active {
        display: block;
    }
}

//--HEADER
.introduction-site {
    color: #ffffff;
    overflow: hidden;    // We add so that the animation when it flies in does not go beyond the section area.
    
    .introduction-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/house-header.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        &__shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            z-index: -1;
        }
    }

    .introduction-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;

        &__title {
            display: none;
        }

        &__intro {
            margin-top: 10px;
            padding: 0 20px;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 0 0 20px $dark-color;
            // width: 360px;
        }
    }

    .introduction-short {
        margin-top: 30px;
        position: relative;
        padding: 10px 20px;
        background-color: rgba(0,0,0,.6);

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 5px;
            left: 7px;
            border: 1px solid #FFD700;
            z-index: -1;
            transition: all 0.4s ease;            
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px solid #FFD700;
            transition: transform 0.15s ease-out 0s;
        }

        &__offer,
        &__offer-cd {
            text-shadow: 0 0 20px $dark-color;
        }
    }

    .introduction-arrow {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        .fa-chevron-down {
            font-size: 30px;
            color: $light-color;
            animation: 2s bounce2 infinite;
        }
    }
}

//--ABOUT US
.aboutus {
    .aboutus-main {
        padding-bottom: 140px;
        text-align: center;
        font-size: 20px;

        &__description {
            margin-top: 10px;
        }
    }
}

//--SERVICES

.services {
    color: $light-color;
    
    .services-img {
        position: relative;
        background-image: url('../img/services-hero.jpg');
        background-position: center;
        background-size: cover;
        z-index: 0;

        &__shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.6);
            z-index: -1;
        }
    }

    .services-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 140px;
    }

    .item-box {
        margin-bottom: 10px;
        padding: 50px 0;
        width: 90%;
        border: 1px solid $gold-color;
        background-color: rgba(0,0,0,.7);

        &__title {
            padding: 0 20px;
            font-size: 20px;
        }
    } 
}

//--STAGES
.stages {
    .stages-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 140px;
    }

    .stage-item {
        margin-bottom: 30px;
        padding: 40px 30px;
        border: 2px solid $gold-color;
        height: 520px;
        width: 90%;

        &__title {
            padding-bottom: 20px;
            font-size: 20px;
        }

        &__description {
            padding-top: 20px;
            font-size: 20px;
        }
    }

    .stage-underline {
        margin: 5px auto;
        width: 50%;
        height: 2px;
        background-color: $gold-color;
    }
}

//--REALIZATIONS
.realizations {
    color: $light-color;

    .realizations-background {
        background-color: rgba(0,0,0,.85);
    }

    .realizations-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 140px;
    }

    .realization-item {
        padding-bottom: 10px;
        
        &__img {
            height: 190px;
            width: 256px;
            border: 2px solid $gold-color;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            &--modify-height {
                height: 400px;
            }

            &--modify-height2 {
                height: 150px;
            }
        }
    }
}

//--COMPANY
.company {
    color: $light-color;

    .company-img {
        position: relative;
        background-image: url('../img/company-selection-hero.jpeg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        &__shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.7);
            z-index: -1;
        }
    }

    .company-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 140px;
    }

    .company-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 40px;
        height: 200px;
        width: 200px;
        border: 1px solid $gold-color;
        border-radius: 50%;
        background-color: $gold-color;
        color: $dark-color;
        transition: all .3s ease-in-out ;

        &__text {
            font-weight: bold;
            font-size: 18px;
        }

        &:hover {
            transform: scale(1.1);
            background-color: $dark-color;
            color: $gold-color;
        }
    }
}

//--CONTACT
.contact {
    // height: 100vh;
    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-box {
        padding-bottom: 50px;

        &__item-title {
            padding-bottom: 10px;
            font-weight: bold;
        }

        &__item {
            padding-bottom: 30px;
        }
    }

    .contact-social {
        padding-bottom: 140px;

        &__item {
            padding: 5px 5px;
            font-size: 40px;
            color: $gold-color;
        }
    }
}

//--FOOTER
.footer {
    text-align: center;

    &__info {
        padding: 20px 20px;
        font-size: 12px;
        background-color: $dark-color;
        color: $light-color;
    }
}

//--MEDIA QUERIES

@media (min-width: 325px) {
    .introduction-site {
        .introduction-text {
            &__intro {
                width: 320px;
            }
        }
    }
}

@media (min-width: 375px) {
    .introduction-site {
        .introduction-text {
            &__intro {
                font-size: 27px;
                width: 360px;
            }
        }
    }

    .stages {
        .stage-item {
            height: 450px;
        }
    }

    .contact {
        .contact-box {
            &__item-title,
            &__item {
                font-size: 18px;
            }
        }
    }

    .realizations {
        .realization-item {
            &__img {
                height: 220px;
                width: 300px;

                &--modify-height {
                    height: 420px;
                }
    
                &--modify-height2 {
                    height: 190px;
                }
            }
        }
    }
}

@media (min-width: 567px) {
    .realizations {

        .realization-item {
            &__img {
                height: 320px;
                width: 450px;

                &--modify-height {
                    height: 620px;
                }
    
                &--modify-height2 {
                    height: 290px;
                }
            }
        }
    }
}


//--ANIMATION
  
@keyframes bounce2 {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.2, 0.5, 0.3, 1);
        transform: translateY(0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.7, 0.02, 0.8, 0.05);
        transform: translateY(-17px);
    }

    70% {
        animation-timing-function: cubic-bezier(0.7, 0.02, 0.8, 0.05);
        transform: translateY(-8px);
    }

    90% {
        transform: translateY(-4px);
    }
}